h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  list-style: none;
  text-align: center;
  margin: 5%;
  background: rgb(242, 80, 127);
  background: linear-gradient(
    0deg,
    rgba(242, 80, 127, 0.09007352941176472) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}
.h3 {
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 1rem;
}
