.contac {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 5%;
  font-family: Georgia, "Times New Roman", Times, serif;
  list-style: none;
  text-align: center;
  font-size: 150%;
  margin-top: 5%;
}
.ticontacto {
  font-family: Georgia, "Times New Roman", Times, serif;
  list-style: none;
  text-align: center;
  font-size: 200%;
  margin: 5%;
}
