section {
  .donde {
    font-family: Georgia, "Times New Roman", Times, serif;
    list-style: none;
    text-align: center;
    font-size: 200%;
    margin-top: 5%;
  }
}
.mapa {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 8%;
}
