.cuestion {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  min-height: 100vh;
}
.forma {
  list-style: none;
  text-align: center;
  font-size: 200%;
  margin-top: 5%;
}
.medio {
  margin: 5%;
  background-position: center;
  transform: rotate(360deg);
}
.cuestionario {
  margin: 5%;
  align-items: center;
}
