* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: rgb(247, 247, 197);
  header {
    background-image: url(../img/COMPRAS.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .navbar-nav {
      font-family: Arial, Helvetica, sans-serif;
      list-style: none;
      padding: 0%;
      width: 90%;
      max-width: 1000px;
      margin: auto;
      overflow: hidden;
      a {
        float: left;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        flex-wrap: wrap-reverse;
      }
      li a {
        text-decoration: none;
        color: #724803;
        padding: 20px;
        display: block;
        &:hover {
          background-color: #f4d7a8;
        }
      }
      li {
        display: inline-block;
        text-align: center;
      }
      .button {
        background-color: #724803;
      }
    }
  }
  article {
    .animate__animated {
      font-family: Georgia, "Times New Roman", Times, serif;
      list-style: none;
      text-align: center;
      font-size: 500%;
      margin-top: 2%;
      display: flex;
    }
  }
  .col {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-around;
    margin-right: 10px;
    margin-left: 10px;
  }
  .row {
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 6%;
  }
  header {
    background-image: url(../img/COMPRAS.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: #f4d7a8;
  .p-footer {
    font-family: $texto;
  }
}
.home-title {
  font-size: 5rem;
}
